*{
    box-sizing: border-box;
}
body{
display: flex;
    justify-content: center;
    margin: 0;
    background-color: red;
    overflow: hidden;
    height: 100vh;
}
.long.ssix {
    position: absolute;
bottom: 7.69vh;
left: 0px;
    height: 7.69vh;
    width: 100%;
    background: white;
    z-index: 1;
}
.long.ffive {
    position: absolute;
bottom: 23.07vh;
left: 0px;
    height: 7.69vh;
    width: 100%;
    background: white;
    z-index: 1;
}
.long.ffour {
    position: absolute;
bottom: 38.45vh;
left: 0px;
    height: 7.69vh;
    width: 100%;
    background: white;
    z-index: 1;
}
.blue_square {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 53.84vh;
    width: 40vw;
    background: #1D45B5;
}
.short.oone {
    position: absolute;
    top: 7.69vh;
    left: 40vw;
    height: 7.69vh;
    width: 60vw;
    background: white;
}
.short.ttwo {
    position: absolute;
    top: 23.07vh;
    left: 40vw;
    height: 7.69vh;
    width: 60vw;
    background: white;
}
.short.tthree {
    position: absolute;
    top: 38.45vh;
    left: 40vw;
    height: 7.69vh;
    width: 60vw;
    background: white;
}
.star {
    position: absolute;
    background: white;
    height: 5vh;
     width: 5vh;
     margin: 5.4vh 0;
     border-radius: 50%;
     z-index: 2000;
}
.r{
    top: .1vh;
}
.rr{
    top: 5.5vh;
}
.rrr{
    top: 11vh;
}
.rrrr{
    top: 16.5vh;
}
.rrrrr{
    top: 22vh;
}
.rrrrrr{
    top: 27.5vh;
}
.rrrrrrr {
    top: 33vh;
}
.rrrrrrrr {
    top: 38.5vh;
}
.c{
    left: 2.5vw;
}
.cc{
    left: 9vw;
}
.ccc{
    left: 15.5vw;
}
.cccc{
    left: 22vw;
}
.ccccc{
    left: 28.5vw;
}
.cccccc{
    left: 35vw;
}
.m {
    left: 5.75vw;
}
.mm{
    left: 12.25vw;
}
.mmm{
    left: 18.75vw;
}
.mmmm{
    left: 25.25vw;
}

.mmmmm{
    left: 31.75vw
}
