@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tangerine';

    background: #222222;
    overflow-x: hidden;

    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    background: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px:
}
