@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+English:wght@100..800&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: "Playpen Sans English", cursive;
    background: rgb(20,182,255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.btn {
    font-family: "Playpen Sans English", cursive;
    background: lightcoral;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 21px;

}
.btn:hover {
    opacity: .9

}

